header nav ul :nth-child(4) .button-direct a
{
    color: var(--text-hover-color);
}

.my-container
{
    padding: 16px;
    width: 40%;
    margin: 4em auto 4em auto;
    border: var(--background-color) 0.15em dashed;
    border-radius: 1em;
    display:flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.my-container p
{
    margin: 0;
}

.container .buttons
{
    display: flex;
    width: 70%;
    justify-content: space-between;
    gap: 1.5em;
}

input 
{
  background-color: var(--background-color);
  color: var(--text-fill-color);
  padding: 10px 14px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.8em;
}

input:hover
{
  opacity: 1;
  color: var(--text-hover-color);
}