.my-container
{
  padding: 16px;
  width: 50%;
  margin: 4em auto 4em auto;
  border: var(--background-color) 0.15em dashed;
  border-radius: 1em;
}

.my-container h1 
{
  margin-top: 0;
}

input[type=text],
input[type=password]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: var(--text-fill-color);
  border-radius: 0.8em;
}
  
input[type=text]:focus,
input[type=password]:focus
{
  background-color: #ddd;
  outline: none;
}
  
.loginbtn 
{
  background-color: var(--background-color);
  color: var(--text-fill-color);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 0.8em;
}

.loginbtn:hover
{
  opacity: 1;
  color: var(--text-hover-color);
}

.login-text
{
  text-align: center;
}

.bottom-buttons {
    margin:auto;
    text-align: center;
}