@{
	ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/error-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <div class="container-main first-part">
                <div class="text">
                    <h1>@ViewBag.Title</h1>
                    <p>You don't have access here, but don't sweat it, go back to <a asp-controller="Home" asp-action="Index">Home</a></p>
                </div>

                <img src="~/images/heartbroken_1_no_bg.png" width="600" height="600" />
            </div>
        </article>
    </section>
</main>