@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/faqs-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <div class="questions-and-answers">
                <div class="accordion-body">
                    <div class="accordion">
                        <h1>@ViewBag.Title</h1>
                        <hr>
                        <div class="container">
                            <div class="label">What is Heartify?</div>
                            <div class="content">
                                It is the dating website that I am developing as my final project for the SoftUni Web course.
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="label">Who can use Heartify?</div>
                            <div class="content">
                                Everyone! If you cover the minimum age required to use 'Heartify' (which is 18 years old) and agree to our
                                <a id="terms-button" href="terms-and-privacy.html">Terms & Privacy</a>, then you can freely use every part of the website to its full extent.
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="label">How to start using Heartify?</div>
                            <div class="content">
                                After creating your profile, you can start searching for your soulmate.
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="label">Who created Heartify?</div>
                            <div class="content">
                                Yordan Neshev did as his project for the Software University.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>