@{
    ViewData["Title"] = "Frequently Asked Questions";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/faqs-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <div class="questions-and-answers">
                <div class="accordion-body">
                    <div class="accordion">
                        <h1>@ViewBag.Title</h1>
                        <hr>
                        <div class="container">
                            <div class="label">What is Heartify?</div>
                            <div class="content">
	                            It is the dating website that I developed as my project for the SoftUni Web course. I passed my exam, but I never stopped working on this.
	                            Now it has grown into so much more. It took me a lot of time to do it, but if you really want to achieve your dreams, don't let anything stop you!
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="label">Who can use Heartify?</div>
                            <div class="content">
                                Everyone! If you cover the minimum age required (which is 18) and agree to our
                                <a id="terms-button" asp-area="" asp-controller="Home" asp-action="Terms">Terms & Privacy</a>, 
                                then you can freely use every part of the website to its full extent. Carefully read the terms though.
                                They may contain something that you don't approve of.
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="label">How to start using Heartify?</div>
                            <div class="content">
	                            First go ahead and register. Then, you can create your dating profile with information about you.
                                Finally, proceed to the 'People' page and the rest is pretty straightforward from there.
                            </div>
                        </div>
                        <hr>
                        <div class="container">
                            <div class="label">Who created Heartify?</div>
                            <div class="content">
                                Yordan Neshev did as his project for the Software University.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>

<script src="~/js/accordion.js" asp-append-version="true"></script>