@{
    ViewData["Title"] = "Terms and Conditions";

}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/terms-and-privacy-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <div class="my-container">
                <h3>
                    @ViewBag.Title ( ! Placeholder Purposes ! )
                </h3>

                <hr class="inbetween-form">

                
                <h5>1 . Introduction</h5>
                <br/>
                <p>
                    1 . 1 - Welcome to Heartify! By using our website, you agree to comply with and be bound by the following terms and conditions of use, 
                    which together with our privacy policy govern Heartify's relationship with you in relation to this website.
                </p>

                <hr class="inbetween-form">

                
                <h5>2 . Use of the Website</h5>
                <br/>
                <p>
                    2 . 1 - The content of the pages of this website is for your general information and use only. It is subject to change without notice.
                    <br/>
                    2 . 2 - Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness, or 
                    suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information 
                    and materials may contain inaccuracies or errors, and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                    <br/>
                    2 . 3 - Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness, 
                    or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge 
                    that such information and materials may contain inaccuracies or errors, and we expressly exclude liability for any such 
                    inaccuracies or errors to the fullest extent permitted by law.
                </p>

                <hr class="inbetween-form">
                
                <h5>3 . Membership</h5>
                <br/>
                <p>
                    3 . 1 - Membership to our website is void where prohibited. By using the website, you represent and warrant that you have the right, 
                    authority, and capacity to enter into this agreement and to abide by all of the terms and conditions of this agreement.
                </p>

                <hr class="inbetween-form">
                
                <h5>4 . Intellectual Property</h5>
                <br/>
                <p>
                    4 . 1 - This website contains material which is owned by or licensed to us. This material includes, but 
                    is not limited to, the design, layout, look, appearance, and graphics. Reproduction is prohibited other than in accordance 
                    with the copyright notice, which forms part of these terms and conditions.
                </p>

                <hr class="inbetween-form">
                
                <h5>5 . Prohibited Uses</h5>
                <br/>
                <p>
                    5 . 1 - You may not use the website for any unlawful purpose.
                    <br/>
                    5 . 2 - You may not use the website to solicit others to perform or participate in any unlawful acts.
                </p>

                <hr class="inbetween-form">
                
                <h5>6 . Limitation of Liability</h5>
                <br/>
                <p>
                    6 . 1 - In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, 
                    or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.
                </p>

                <hr class="inbetween-form">
                
                <h5>7 . Indemnification</h5>
                <br/>
                <p>
	                7 . 1 - You agree to indemnify, defend, and hold harmless Heartify and its affiliates, officers, directors, employees, agents, and 
	                suppliers from and against all losses, expenses, damages, and costs, including reasonable attorneys' fees, resulting 
	                from any violation of these terms and conditions or any activity related to your account (including negligent or wrongful conduct) 
	                by you or any other person accessing the site using your Internet account.
                </p>

                <hr class="inbetween-form">
                
                <h5>8 . Governing Law</h5>
                <br/>
                <p>
                    8 . 1 - Your use of this website and any dispute arising out of such use of the website is subject to the laws of [Your Country].
                </p>

                <hr class="inbetween-form">
                
                <h5>9 . Modification of Terms</h5>
                <br/>
                <p>
	                9 . 1 - We reserve the right to modify these terms of service at any time. You should check this page regularly to ensure that you are aware of any changes.
                </p>
            </div>
        </article>
    </section>
</main>