@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/index-styles.css" asp-append-version="true" />

<main>
        <section>
            <article>
                <div class="container-main first-part">
                    <div class="text">
                        <h1>Heartify</h1>
                        <p>Where you meet your soulmate</p>
                    </div>
                        
                    <img src="~/images/couple_no_bg.png" width="500" height="500" />
                </div>

                <hr class="inbetween-form">
                
                <div class="tips-container-main">
                    <h1>How do I get started?</h1>
                    <div class="starting-tips">
                        <div class="starting-tip">
                            <h2>Step 1</h2>
                            <p>Go to the <a asp-controller="Register" asp-action="Register">Register</a> page and create your profile.</p>
                        </div>
                        <div class="starting-tip">
                            <h2>Step 2</h2>
                            <p>Head over to the <a asp-controller="FindYourself" asp-action="FindYourself">Find Yourself</a> page and input your dating info.</p>
                        </div>
                        <div class="starting-tip">
                            <h2>Step 3</h2>
                            <p>Finally, go to the <a asp-controller="FindSomebodyElse" asp-action="FindSomebodyElse">Find Somebody Else</a> page and start looking for people.</p>
                        </div>
                    </div>
                </div>
                
                <hr class="inbetween-form">

                <div class="container-main">
                    <div class="text">
                        <h1>Support</h1>
                        <p>Everybody is welcome to use Heartify. Any type of discrimation/hate is strictly forbidden!</p>
                    </div>
                        
                    <img src="~/images/4couples_no_bg.png" width="500" height="500" />
                </div>
                
                <hr class="inbetween-form">

                <div class="tips-container-main">
                    <h1>Why use Heartify?</h1>
                    <div class="starting-tips">
                        <div class="starting-tip">
                            <h2>Safety</h2>
                            <p>Heartify guarantees your safety and brings catfishing chances to a minimum.</p>
                        </div>
                        <div class="starting-tip">
                            <h2>Privacy</h2>
                            <p>Heartify will not use your personal information.</p>
                        </div>
                        <div class="starting-tip">
                            <h2>Support a student</h2>
                            <p>By using Heartify you support me.</p>
                        </div>
                    </div>
                </div>

                <hr class="inbetween-form">

                <div class="container-main">
                    <div class="text">
                        <h1>Relationships</h1>
                        <p>Heartify is not strictly made for finding your romantic partner. You can choose what kind of relationship suits your needs.</p>
                    </div>
                        
                    <img src="~/images/hearts_no_bg.png" width="500" height="500" />
                </div>
            </article>
        </section>
    </main>