@using Heartify.Core.Models.PersonProfile

@model PersonProfileFormModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/find-yourself-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <form asp-area="" asp-controller="PersonProfile" asp-action="CreatePersonProfile" method="post">
                <div class="my-container">
                    <div class="creation-text">
                        <h1>@ViewBag.Title</h1>
                        <p>Change what you want in your dating profile.</p>
                    </div>

                    <partial name="_PersonProfileFormPartial" />

                    <button type="submit" class="registerbtn">Create profile</button>
                </div>
            </form>
        </article>
    </section>
</main>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}