@using Heartify.Core.Models.PersonProfile

@model DeleteShowInfoPersonProfileModel

@{
	ViewData["Title"] = "Delete Person Profile";
}

<link rel="stylesheet" href="~/css/delete-person-profile-styles.css" asp-append-version="true" />

<main>
	<section>
		<article>
			<div class="my-container">
				<div class="text">
					<h2>Hey, @Model.FirstName!</h2>
					<h3 class="text-danger">Are you sure you want to delete your dating profile?</h3>
					<h5>(You can always create another one)</h5>
				</div>
				<div class="buttons">
					<form asp-area="" asp-controller="PersonProfile" asp-action="DeletePersonProfileConfirmed" method="post">
						<input type="hidden" asp-for="@Model.Id" />
						<button type="submit" class="btn btn-danger">Confirm Delete</button>
						<a asp-area="" asp-controller="PersonProfile" asp-action="CreatePersonProfile" class="button">Cancel</a>
					</form>
				</div>
			</div>
		</article>
	</section>
</main>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}