header nav ul :nth-child(4) .button-direct a
{
    color: var(--text-hover-color);
}

.accordion
{
    width: 60%;
    margin: 90px auto;
    color: var(--text-fill-color);
    background-color: var(--background-color);
    padding: 45px 45px;
    border-radius: 1em;
}

.accordion .container
{
    position: relative;
    margin: 10px 10px;
}
  
  
.accordion .label
{
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    color: var(--text-fill-color);
    cursor: pointer;
}

.accordion .label::before
{
    content: '+';
    color: var(--text-fill-color);
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 50px;
    transform: translateY(-50%);
}
  
.accordion .content
{
    position: relative;
    background: var(--background-color);
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
}

.accordion hr
{
    width: 100;
    margin-left: 0;
    border: 1px solid grey;
}

.accordion .container.active .content
{
    height: 150px;
}

.accordion .container.active .label::before
{
    content: '-';
    font-size: 50px;
}