@{
    ViewData["Title"] = "Waiting for Review";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/view-person-profile-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <div class="my-container">
                <h2>Waiting for profile to be reviewed by administrator!</h2>

                <hr class="inbetween-form">
            </div>
        </article>
    </section>
</main>