@{
    ViewData["Title"] = "Find People";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/find-someone-else-styles.css" asp-append-version="true" />

<main>
    <section>
        <article>
            <div class="my-container">
                <img src="~/images/placeholder.png" width="450" height="450">

                <hr class="inbetween-form">

                <p>First name, last name, aged is looking for a type_of_relationship.</p>
                <p>Discription: Sexuality, hobbies, interests.</p>

                <div class="buttons">
                    <input type="submit" value="Decline">
                    <input type="submit" value="Accept">
                </div>
            </div>
        </article>
    </section>
</main>