@{
    ViewData["Title"] = "People hub";
}

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/find-person-styles.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/multiple-profiles-styles.css" asp-append-version="true" />

<h2 class="text-center">@ViewBag.Title</h2>

<hr />

<div class="row text-center mt-3 pending-matches">
    <a class="button-direct col-sm-3 h4" asp-area="" asp-controller="Dating" asp-action="PendingRequests">Pending</a>
    <a class="button-direct col-sm-3 h4" asp-area="" asp-controller="Dating" asp-action="People">People</a>
    <a class="button-direct col-sm-3 h4" asp-area="" asp-controller="Dating" asp-action="Matches">Matches</a>
</div>