@{

}

<link rel="stylesheet" href="~/css/login-styles.css" asp-append-version="true" />

<main>
        <section>
            <article>
                <div class="main-container">
                    <form action="action_page.php">
                        <div class="my-container">
                            <div class="login-text">
                                <h1>Log in</h1>
                                <p>Input your credentials to enter your profile.</p>
                            </div>

                            <hr class="inbetween-form">
                        
                            <label for="email"><b>Email</b></label>
                            <input type="text" name="email" id="email" required>
                        
                            <label for="psw"><b>Password</b></label>
                            <input type="password" name="psw" id="psw" required>

                            <hr class="inbetween-form">
                        
                            <button type="submit" class="loginbtn">Log In</button>
                        </div>
                    </form>
                </div>
            </article>
        </section>
    </main>