@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />


@if (SignInManager.IsSignedIn(User))
{
    <div class="login-button">
        <div class="button-direct"><a class="button-direct" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity?.Name</a></div>
    </div>
    <div class="register-button">
        <div class="button-direct"><a class="button-direct" asp-area="" asp-controller="Home" asp-action="Index" title="Back">Public UI</a></div>
    </div>
}