<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Heartify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles-base.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="head-info">

            <h2><a class="button-direct" asp-controller="Home" asp-action="Index">Heartify</a></h2>
            
            @await Component.InvokeAsync(nameof(AdminMenuComponent))

            <div class="buttons">
                <partial name="_AdminPartial" />
            </div>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer-info">
            <h2>Heartify</h2>

            <div>
                <p>&copy; All rights reserved - @DateTime.Today.Year</p>
                <hr class="inbetween-form mt-2 mb-2">
                <span class="text-danger">This area is Administrator only!</span>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/accordion.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>